<div class="search-div" [class.activate]="isActivated">
  <span id="searching" (click)="onToggle()">
    <i class="fa fa-clock-o txt-color-blueDark"></i>
  </span>

  <div class="search-tab">
    <ul class="nav nav-tabs" style="height: 4.5rem; overflow-x:auto; overflow-y:hidden; display: flex;">
      <li *ngFor="let tab of tabs; let i=index" [class.active]="(selectedTab === i)">
        <a data-toggle="tab" (click)="onTabSelect(i)">{{ tab }}</a>
      </li>

      <li> <a (click)="onAddTab()"> + </a> </li>
    </ul>

    <div class="tab-content">
      <div *ngFor="let tab of tabs; let i=index" class="tab-pane fade in" [class.active]="(selectedTab === i)">
        <form>
          <section>
            <div class="dropdown">
              <div style="display: flex;">
                <input
                  type="text" class="form-control" placeholder="search..."
                  [(ngModel)]="searchTexts[i]" (keyup.enter)="onSearch(i)"
                  [ngModelOptions]="{standalone: true}"
                /> 
                <button class="btn btn-secondary dropdown-toggle" type="button" 
                  id="dropdownMenu" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"
                >
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </button>              
                <div class="dropdown-menu dropdown-menu-right dropdown-pad" aria-labelledby="dropdownMenu">
                  <form class="px-4 py-3">                  
                    <div class="form-check" *ngFor="let type of vehicleEventsTypes">
                      <input type="checkbox" class="form-check-input"
                        id="{{type}}_{{i}}" (change)="onTypeChecked($event, type, i)"
                      />
                      <label class="form-check-label check-label" for="{{type}}_{{i}}">
                        {{type}}
                      </label>
                    </div>
                  </form>
                  <div class="dropdown-divider"></div>
                  <form class="px-4 py-3">                  
                    <div class="form-check" *ngFor="let type of driverEventsTypes">
                      <input type="checkbox" class="form-check-input"
                        id="{{type}}_{{i}}" (change)="onTypeChecked($event, type, i)"
                      />
                      <label class="form-check-label check-label" for="{{type}}_{{i}}">
                        {{type}}
                      </label>
                    </div>
                  </form>
                  <div class="dropdown-divider"></div>
                  <form class="px-4 py-3">                  
                    <div class="form-check" *ngFor="let type of deviceEventsTypes">
                      <input type="checkbox" class="form-check-input"
                        id="{{type}}_{{i}}" (change)="onTypeChecked($event, type, i)"
                      />
                      <label class="form-check-label check-label" for="{{type}}_{{i}}">
                        {{type}}
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>

          <section *ngIf="searchPageNums[i]">
            <ng-container>
              <div class="list-group">
                <a class="list-group-item" *ngFor="let item of getItems(i)">
                  <h5 class="list-group-item-heading">{{item.search}}</h5>
                  <p class="list-group-item-text" style="font-size: 10px;">{{item.entityType}} - {{item.status}}</p>
                </a>
              </div>
            </ng-container>
            <div style="position: absolute; bottom: 10px; right: 15px">
              <ngb-pagination 
                  [boundaryLinks]="false" 
                  [collectionSize]="searchResults[i].length" 
                  [(page)]="currentPageNums[i]"
                  [pageSize]="5" [maxSize]="2" [rotate]="true" [ellipses]="true" size="sm"
                  (pageChange)="onChangePage($event, i)" 
                  aria-label="Default pagination"
                  class="pagination-no-margin"
              >
                  <ng-template ngbPaginationPrevious> << </ng-template>
                  <ng-template ngbPaginationNext>     >> </ng-template>
              </ngb-pagination>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
</div>
