<div class="search-div" [class.activate]="isActivated">
  <span id="searching" (click)="onToggle()">
    <i class="fa fa-clock-o txt-color-blueDark"></i>
  </span>

  <div class="search-tab">
    <ul class="nav nav-tabs">

      <li *ngFor="let tab of tabs; let i=index" [class.active]="(selectedTab === i)">
        <a data-toggle="tab" (click)="onTabSelect(i)">{{ tab }}</a>
      </li>

      <li> <a data-toggle="tab" (click)="onAddTab()"> + </a> </li>
    </ul>

    <div class="tab-content">
      <div *ngFor="let tab of tabs; let i=index" class="tab-pane fade in" [class.active]="(selectedTab === i)">
        <form>
          <section>
            <!-- <ng-multiselect-dropdown
              [data]="dropdownList"
              [(ngModel)]="selectedItems[i]"
              [ngModelOptions]="{standalone: true}"
              [settings]="dropdownSettings"
              (ngModelChange)="onItemSelect($event, i)"
            >
            </ng-multiselect-dropdown> -->
            <div class="dropdown">
              <div style="display: flex;">
                <input
                  type="text" class="form-control" placeholder="search..."
                  [(ngModel)]="searchTexts[i]" (keyup.enter)="onSearch(i)"
                  [ngModelOptions]="{standalone: true}"
                /> 
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </button>              
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                  <form class="px-4 py-3">                  
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="dropdownCheck">
                      <label class="form-check-label" for="dropdownCheck">
                        Remember me
                      </label>
                    </div>
                  </form>
                  <div class="dropdown-divider"></div>
                  <form class="px-4 py-3">                  
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="dropdownCheck1">
                      <label class="form-check-label" for="dropdownCheck1">
                        Remember me
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>

          <section *ngIf="searchPageNums[i]">
            <div class="list-group">
              <a class="list-group-item" *ngFor="let item of getItems(i)">
                <h5 class="list-group-item-heading">{{item.search}}</h5>
                <p class="list-group-item-text" style="font-size: 10px;">{{item.entityType}} - {{item.status}}</p>
              </a>
            </div>

            <nav aria-label="Page navigation" style="position: absolute; bottom: 10px; right: 15px">
              <ul class="pagination" style="margin: 0">
                <li class="page-item">
                  <a class="page-link" aria-label="Previous" (click)="onPagePrevious(i)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let page of counter(i); let n=index" >
                  <a class="page-link" (click)="onPageDisplay(i, n)">{{ n+1 }}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" aria-label="Next" (click)="onPageNext(i)">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </section>
        </form>
      </div>
    </div>
  </div>
</div>
